<!DOCTYPE html>
<html>
<head>
    <title>Server Details</title>
</head>
<body>
    <h1>Server Details</h1>
    <p><b>Hostname:</b> {{.Hostname}}</p>
    <p><b>OS:</b> {{.OS}}</p>
    <p><b>Arch:</b> {{.Arch}}</p>
    <p><b>NumCPU:</b> {{.NumCPU}}</p>
    <p><b>Kernel:</b> {{.Kernel}}</p>
    <p><b>Uptime:</b> {{.Uptime}}</p>
    <p><b>TotalMemoryMB:</b> {{.TotalMemoryMB}}</p>
    <p><b>TotalDiskSizeGB:</b> {{.TotalDiskSizeGB}}</p>
    <p><b>MountedCount:</b> {{.MountedCount}}</p>
    <p><b>TimestampUTC:</b> {{.TimestampUTC}}</p>
    <p><a href="/">Back</a></p>
</body>
</html>

